@{
  Layout="Shared/_Layout.cshtml";
}

<div class="well" id='body' class="text-center">
  <h4 class="text-center">Two strings entered...</h4>
  <img src="/Content/OneIntLeaves.jpg" class="displayed">
  <h4 class="text-center">The number of times your word appeared in the search string was: @Model </h4>

</div>
