@{
  Layout="Shared/_Layout.cshtml";
}

<div class="well" id='body'>
  <h3 class="text-center">Welcome... to another edition of WORDCOUNT</h3>
  <img class="displayed" src="/Content/TwoStringsEnter.jpg">
  <form method="post" action="result">
    <div class="form-group">
      <label for="user-input-word">Enter <b>a single word to search for</b> - no spaces please.  Numbers and funny-characters allowed.</label>
      <input type="text" class="form-control" name="user-input-word" id="user-input-word">
    </div>
    <div class="form-group">
      <label for="user-input-string">Enter <b>a string of words</b> to see if it contains your word in</label>
      <input type="text" class="form-control" name="user-input-string" id="user-input-string">
    </div>
    <button type="submit" class="btn btn-danger btn-block">SEARCH!</button>
</div>
