@{
  Layout="Shared/_Layout.cshtml";
}

<h1>TWO STRINGS ENTER!</h1>

<div class="well">
  <form method="post" action="result">
    <div class="form-group">
      <label for="user-input-word">Type a single word - no spaces please</label>
      <input type="text" class="form-control" name="user-input-word" id="user-input-word">
    </div>
    <div class="form-group">
      <label for="user-input-string">Type a string of words to search for your word in</label>
      <input type="text" class="form-control" name="user-input-string" id="user-input-string">
    </div>
</div>
